/* Login Page Styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .login-box {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
  }
  
  h2 {
    color: #17bf9e;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #17bf9e;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #17bf9e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #15a98a;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  p a {
    color: #17bf9e;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  